* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    padding: 90px 0;
}

.calculator {
    width: 500px;
    margin: 0 auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
}

.display{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: normal 4rem serif;
    overflow: hidden;
    border-radius: 10px;
}

.calculator-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.calculator button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}

button:hover{
    background-color: #fafafa;
    color: black;
}