body{
    background-color: black;
    padding: 20%;
    
}

h1{
    color: white;
}

div{
    text-align: center;
}

button{
    height: 2.2em;
    width: 5.5em;
    border: none;
    color: white;
}

button:hover{
    cursor: pointer;
}

.start-btn{
    border-radius: 5px;
    background-color: green;
}

.pause-btn{
    border-radius: 5px;
    background-color: grey;
}

.stop-btn{
    border-radius: 5px;
    background-color: red;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#watch {
    font-size: 3em;
    padding: 10px;
}

button {
    font-size: 1em;
    padding: 5px 10px;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    #watch {
        font-size: 2em;
    }

    button {
        font-size: 0.8em;
    }
}